@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.remark-slide-content h1 {
  font-size: 3em;
}

.remark-slide-content h2 {
  font-size: 2em;
}

.remark-slide-content h3 {
  font-size: 1.6em;
}

.remark-slide-content p {
  font-size: 1.2em;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.2em;
  background: #272822;
}

.minifont {
  font-size: 2.2em;
}

.gray-background {
  background: rgb(183, 202, 206);
}

.fat {
  font-family: 'Open Sans', cursive;
  font-size: 1.8em;
  color: #116879ff
}

ul {
  list-style-type: '-   ';
}

h1,
h2,
h3 {
  color: #116879ff;
}

a {
  color: rgb(30, 183, 214);
}

.inverse {
  background: rgb(208, 224, 190);
  
}

.inverse h1,
.inverse h2 {
  color: #830051ff;
  line-height: 0.8em;
}

.background h1 {
  color: rgb(174, 217, 226);
}

.left-column20 {
  width: 20%;
  float: left;
}

.left-column30 {
  width: 30%;
  float: left;
}

.left-column40 {
  width: 40%;
  float: left;
}

.left-column50 {
  width: 50%;
  float: left;
}

.left-column60 {
  width: 60%;
  float: left;
}

.left-column70 {
  width: 70%;
  float: left;
}

.left-column80 {
  width: 80%;
  float: left;
}

.right-column20 {
  width: 20%;
  float: right;
}

.right-column30 {
  width: 30%;
  float: right;
}

.right-column40 {
  width: 40%;
  float: right;
}

.right-column50 {
  width: 50%;
  float: right;
}

.right-column60 {
  width: 60%;
  float: right;
}

.right-column70 {
  width: 70%;
  float: right;
}

.right-column80 {
  width: 80%;
  float: right;
}

.footnote {
  position: absolute;
  bottom: 3em;
  font-size: 14px;
  color: #505050;
}

.footnote:before {
  content: "[";
}

.footnote:after {
  content: "]";
}

.emph {
  background-color: #c8deff;
}

.remark {
  color: #50ad44;
  font-style: italic;
}

.quote {
  color: #116879ff;
  font-family: 'Kalam', cursive;
  font-size: 1.2em;
}

.cite {
  font-size: 10px;
  color: #505050;
}

.cite:before {
  content: "[";
}

.cite:after {
  content: "]";
}
